
/*
@font-face {
    font-family: myFirstFont;
   src: url(../font/ahellya.ttf);
}
*/
@font-face {
    font-family: 'OldNewspaperTypesRegular';
	src: url('../fonts/OldNewspaperTypes.eot');
	src: local('☺'), url('../fonts/OldNewspaperTypes.woff') format('woff'),
		 url('../fonts/OldNewspaperTypes.ttf') format('truetype'),
		 url('../fonts/OldNewspaperTypes.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Wolgast Script';
	src: url('../fonts/Wolgast Script.eot');
	src: local('☺'), url('../fonts/Wolgast Script.woff') format('woff'), url('../fonts/Wolgast Script.ttf') format('truetype'), url('../fonts/Wolgast Script.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Arizonia-Regular';
	src: url('../fonts/Arizonia-Regular.eot');
	src: local('☺'), url('../fonts/Arizonia-Regular.woff') format('woff'), url('../fonts/Arizonia-Regular.ttf') format('truetype'), url('../fonts/Arizonia-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AidaSerifObliqueMedium';
	src: url('../fonts/AidaSerifObliqueMedium.eot');
	src: local('☺'), url('../fonts/AidaSerifObliqueMedium.woff') format('woff'), url('../fonts/AidaSerifObliqueMedium.ttf') format('truetype'), url('../fonts/AidaSerifObliqueMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AidaSerifa-Condensed';
	src: url('../fonts/AidaSerifa-Condensed.eot');
	src: local('☺'), url('../fonts/AidaSerifa-Condensed.woff') format('woff'), url('../fonts/AidaSerifa-Condensed.ttf') format('truetype'), url('../fonts/AidaSerifa-Condensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_Cyen';
	src: url('../fonts/Cyen.eot');
	src: local('☺'), url('../fonts/Cyen.woff') format('woff'), url('../fonts/Cyen.ttf') format('truetype'), url('../fonts/Cyen.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_springsteel-lig';
	src: url('../fonts/springsteel-lig.eot');
	src: local('☺'), url('../fonts/springsteel-lig.woff') format('woff'), url('../fonts/springsteel-lig.ttf') format('truetype'), url('../fonts/springsteel-lig.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_SpringsteelSerif-Thin';
	src: url('../fonts/SpringsteelSerif-Thin.eot');
	src: local('☺'), url('../fonts/SpringsteelSerif-Thin.woff') format('woff'), url('../fonts/SpringsteelSerif-Thin.ttf') format('truetype'), url('../fonts/SpringsteelSerif-Thin.svg') format('svg');

	font-style: normal;
}


html,body {
/*background:#70CFED;*/
height:100%;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
font-family:Conv_springsteel-lig;
font-size:1em;
color:#3B2416;

}


body {
background-image:url('../img/background/mark.jpg');
background-position:top;
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;
}

h2, h4, h5 {
font-family:Conv_Arizonia-Regular;
}

h3 {
margin-top:5px;
font-size:50px;
font-family:Conv_Arizonia-Regular;
}

h4{
font-size:30px;
color:#475F31;
}

h3{
color:#475F31;
}



h1 {
font-family:Conv_Arizonia-Regular;
color:#2B4018;
font-size:60px;
padding-bottom:15px;
padding-left: 15px;
}

p {
	line-height:150% !important;
}


.main {
border-radius:5px;

background:rgba(255,255,255,0.6);
padding:10px 30px 30px 30px;
margin-bottom:50px;
}

.ddbbox {
padding:15px;
background:rgba(255,255,255,0.7);
}

.drawer {
background:rgba(255,255,255,0.7);
margin-bottom:10px;
padding-top:5px;
}



.handle {
width:50px;
height:4px;
background:#2b0000;
margin:4px auto 4px auto;
     -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}
/*
@media (min-width: 992px) {
	.first {
		padding-left:0px;
	}

	.last {
		padding-right:0px;
	}


}
*/

#menu, #mobile-menu-link {
margin-left:20px;

}

#mobile-menu {
display:none;
padding-left:0;
margin-top:25px;

}


#mobile-menu li {

	padding:10px;
	background:rgba(255,255,255,0.7);
	list-style-type:none;
	margin-bottom:2px;
	font-weight:bold;
}



.drawer p {
text-align:center;
font-size:12px;
padding:5px 0 10px 0;


}

.container .jumbotron {
border-radius:0;
margin:0;

}

.nav-tabs > li.active a, .nav-tabs > li.active a:hover, .nav-tabs > li.active a:focus {
background:rgba(255,255,255,0.6);
border:none;
color:#2B4018;
font-size:25px;
cursor:pointer;
font-family:Conv_Arizonia-Regular;
border-top-left-radius:5px;
border-top-right-radius:5px;
}


.nav-tabs {
border-bottom:none;
}


.nav-tabs > li {
margin-bottom: -2px
}

.nav-tabs > li > a {
background:rgba(255,255,255,0.5);
margin-bottom:2px;
border:none;
color:#2B4018;
font-size:25px;
font-family:Conv_Arizonia-Regular;
border-top-left-radius:5px;
border-top-right-radius:5px;
}

.nav > li > a:hover, .nav > li > a:focus {
background-color:rgba(255,255,255,0.6);
border: none;
color:white;
}


a:link, a:visited {
color:#475F31;

}

a:hover {
color:#2B4018;

}


.logo-holder {
text-align:center;
padding:0;
max-width:800px;
margin:0 auto 0 auto;
}

.logo-holder img{
margin:0 auto 0 auto;
opacity:0.7;

}


.navbar {
padding-left:0;
padding-right:0;
margin-bottom:-1px;
}

button {
color:green;
background-color:red;
}
.navbar-toggle {
color:white;
}


.kornsort-checkbox {
float:left;
margin-right:15px;
}



@media print {

    body { font-family: sans-serif;}

    #menu, .logo-holder {
      display:none;

    }

}
