{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block pagetitle %}Det Daglige Brød{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'ddb/css/bootstrap.min.css' %}" media="screen" rel="stylesheet">
    <link href="{% static 'ddb/css/70kitchen.css' %}" media="screen" rel="stylesheet">
    <link href="{% static 'ddb/css/print.css' %}" media="print" rel="stylesheet">
    <!-- Custom styles for this template -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block facebook %}
        <!-- for Facebook -->
		<meta property="og:title" content="Det Daglige Brød" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="{% static 'ddb/img/background/mark.jpg' %}" />
		<meta property="og:image:url" content="{% static 'ddb/img/background/mark.jpg' %}" />
		<meta property="og:url" content="{{ host.META.HTTP_HOST }}" />
		<meta property="og:description" content="" />
    {% endblock %}

  </head>

  <body>

    <div class="container">
		<div class="logo-holder"  >
			<a href="{% url 'index' %}">
				<img  class="img-responsive" alt="Det daglige brød" src="{% static 'ddb/img/logo/logo1.svg' %}" />
			</a>
		</div>



			<nav id="menu" class="hidden-sm hidden-xs">
				<ul class="nav nav-tabs" role="tablist">


								

					{% for m in menu %}


							{% if m.slug_field == request.path|slice:"1:-1" %}
								<li class="active"><a  href="{% url 'index' %}{{ m.slug_field }}/">{{ m }}</a></li>
							{% elif "opskrifter/" in request.path|slice:"1:-1" and m.slug_field == "opskrifter" %}
								<li class="active"><a  href="{% url 'index' %}{{ m.slug_field }}/">{{ m }}</a></li>
							{% else %}
								<li><a href="{% url 'index' %}{{ m.slug_field }}/">{{ m }}</a></li>
							{% endif %}

					{% endfor %}




				</ul>
			</nav>

			<nav id="mobile-menu-link" class="hidden-lg hidden-md">
				<ul class="nav nav-tabs" role="tablist">

					<li><a href="#">Menu</a></li>

				</ul>
			</nav>


      <div class="main">

				<ul id="mobile-menu">

					{% for m in menu %}


							{% if m.slug_field == request.path|slice:"1:-1" %}
								<li class="active"><a  href="{% url 'index' %}{{ m.slug_field }}/">{{ m }}</a></li>

								{% else %}
								<li><a href="{% url 'index' %}{{ m.slug_field }}/">{{ m }}</a></li>
							{% endif %}

					{% endfor %}




				</ul>


        <div class="row">
			<div class="col-md-12 ">
{% block content %}{% endblock %}

			</div>
        </div>

      </div>



    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{% static 'ddb/js/jquery.js' %}"></script>
    <script src="{% static 'ddb/js/bootstrap.min.js' %}"></script>
	<script >

		$(function () {
			$("[data-toggle='tooltip']").tooltip();
		});
		$("#mobile-menu-link").click(function(){
			$("#mobile-menu").slideToggle("fast");
		});


	</script>
{% block js %}{% endblock %}

  </body>
</html>
