
<div class="kornsorter-wrapper">
	{% for sort in kornsorter  %}
		<div class="kornsort-checkbox">
			  <div class="checkbox">
				<label>
				  <input type="checkbox" id="{{ sort.id }}" checked /> {{ sort.navn }}
				</label>
			  </div>
		</div>
	{% endfor %}
</div>

<table class="table table-hover melskema">

<thead>

	<th>Navn</th>
	<th>Hæve evne</th>	
	<th>Beskrivelse</th>
	

</thead>
{% for m in mel %}
<tbody>
<tr class="{{ m.sort.id }}">
	<td>{{m.navn }}</td>
	<td>{{m.haeve_evne }}</td>
	<td>{{m.beskrivelse }}</td>	
</tr>
</tbody>	
	
	

{% endfor %}
</table>



