{% extends 'ddb/base.html' %}
{% load staticfiles %}
{% load cropping %}


    {% block facebook %}
        <!-- for Facebook -->
		<meta property="og:title" content="{{ recipe.navn }}" />
		<meta property="og:type" content="website" />
	{% if recipe.billede %}
		<meta property="og:image" content="{% cropped_thumbnail recipe 'cropping' max_size='630x630' %}" />
		<meta property="og:image:url" content="{% cropped_thumbnail recipe 'cropping' max_size='630x630' %}" />
	{% else %}
		<meta property="og:image" content="{% static 'ddb/img/background/mark.jpg' %}" />
		<meta property="og:image:url" content="{% static 'ddb/img/background/mark.jpg' %}" />
	{% endif %}
		<meta property="og:url" content="http://detdagligebrød.dk/opskrift/{{ recipe.id }}" />
		<meta property="og:description" content="" />
    {% endblock %}






{% block content %}


<h1 >{{ recipe.navn }}</h1>
<div class="row">




	<div class="col-md-6">

		<div class="row">
			<div class="col-md-12">
				<div class="ddbbox">
		<h4>
		{% if recipe.manchet %}
			{{ recipe.manchet }}
		{% endif %}
		</h4>
		{{ recipe.beskrivelse|safe }}
				</div>

			</div>
		</div>
<br/>
		{% if recipe.billede %}
		<div class="row">
			<div class="col-md-12">
				<div class="ddbbox">
				<img class="img-responsive" src="{% cropped_thumbnail recipe 'cropping' max_size='630x630' min_size='630x630' %}" />
				</div>

			</div>
		</div>
		{% endif %}

	</div>

	<div class="col-md-6">
		{% for t in trin %}
		<div class="row">



			<div class="col-md-12 ">
				<div class="ddbbox">
					<h3>{{ t.overskrift }}</h3>
					<p>{{ t.beskrivelse|safe }}</p>

					<p style="text-align:right;">
						{% for a in other %}

							{% if a.trin.id == t.id %}
								{% if  a.navn.ingredient_type == "vaeske" or a.navn.ingredient_type == "haeve_middel"  %}
									<span data-toggle="tooltip" data-placement="bottom" title="">{{ a }}</span>

									<br/>
								{% endif %}
							{% endif %}

						{% endfor %}
					</p>

					<p style="text-align:right;">
						{% for k in korn %}

							{% if k.trin.id == t.id %}

								<span data-toggle="tooltip" data-placement="bottom" title="{{ k.korn_type.beskrivelse }}">{{ k }}</span>

								<br/>
							{% endif %}



						{% endfor %}
					</p>
					<p style="text-align:right;">
						{% for a in other %}

							{% if a.trin.id == t.id %}
								{% if a.navn.ingredient_type != "vaeske" and a.navn.ingredient_type != "haeve_middel"  %}
									<span data-toggle="tooltip" data-placement="bottom" title="">{{ a }}</span>

									<br/>
								{% endif %}
							{% endif %}

						{% endfor %}
					</p>


		</div></div></div><br/>
		{% endfor %}

	</div>


</div>








{% endblock %}
