{% extends 'ddb/base.html' %}
{% load staticfiles %}
{% load cropping %}



    {% block facebook %}
        <!-- for Facebook -->          
		<meta property="og:title" content="{{ section.overskrift }}" />
		<meta property="og:type" content="website" />
	{% if section.billede %}	
		<meta property="og:image" content="{% cropped_thumbnail section 'cropping' max_size='630x630' %}" />
		<meta property="og:image:url" content="{% cropped_thumbnail section 'cropping' max_size='630x630' %}" />
	{% else %}
		<meta property="og:image" content="{% static 'ddb/img/background/mark.jpg' %}" />
		<meta property="og:image:url" content="{% static 'ddb/img/background/mark.jpg' %}" />
	{% endif %}
		<meta property="og:url" content="http://detdagligebrød.dk/section/{{ section.slug_field }}" />
		<meta property="og:description" content="" />
    {% endblock %}





{% block content %}



<div class="row">
	<div class="col-md-12">
	<h1>{{ section.overskrift }}</h1>
	</div>
</div>


<div class="row">
{% if section.slug_field == "Melskema" %}
	
	<div class="col-md-12 " >
		<div class="ddbbox">
			{% include 'ddb/mel.html' %}
		</div>
	</div>





{% else %}

	<div class="col-md-6 ">
		<div class="ddbbox">

			{% autoescape off %}
				{{ section.indhold }}
			{% endautoescape %}
			
			{% if section.overskrift == 'Opskrifter' %}

				{% include 'ddb/opskrifter.html' %}				

			{% endif %}

			
		</div>
	</div>


	{% if section.billede %}
		<div class="col-md-6 " style="text-align:right;">
			<div class="ddbbox">
				<img class="img-responsive" src="{% cropped_thumbnail section 'cropping' max_size='630x630' %}" >
			</div>
		</div>
	{% endif %}	
	
	

{% endif %}		
	
</div>
{% endblock %}


{% block js %}
	<script>
		
		$(".kornsort-checkbox").click(function () {

				var kornsorter_checked = [];
				kornsorter_checked = sorter_checked();

				
				$("table.melskema tbody tr").each(function(){
					var row_sort = $(this).attr("class");
					if($.inArray(row_sort,kornsorter_checked) > -1) {
						$(this).show();
					}
					else {
						$(this).hide();		
					}
				
				});
				
		}); 
		
		function sorter_checked() {
			var array = [];
			$(".kornsorter-wrapper input").each(function(){
				var id = $(this).attr("id");
				if($(this).prop("checked") == true) {
					array.push(id);
				}
			});
			
			
			return array;
		}


	</script>
{% endblock %}	

